/***********************************************************************
                            All 
************************************************************************/


/***********************************************************************
                            Header 
************************************************************************/

.navbar a {
    color: black;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: none;
}


/** Sidebar **/

.list-group-item.active a {
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
}

.list-group-item.active a:hover {
    text-decoration: none;
}


/***********************************************************************
                            Body 
************************************************************************/


/***********************************************************************
                            Footer 
************************************************************************/